----- NAV LINKS ------
<% if current_user %>
  <li><%= link_to "things#index", things_path %></li>
  <li><%= link_to "users#index", users_path %></li>
  <li><%= link_to 'logout', :logout %></li>
<% else %>
  <li><%= link_to "root", :root %></li>
  <li><%= link_to 'login', :login %></li>
  <li><%= link_to 'sign up', :signup %></li>
<% end %>
----- NAV LINKS ------
