<div class="row">
  <div class="large-12 columns" style="margin: 50px 0;">

    <%- if flash[:alert] %>
      <div data-alert class="alert-box alert">
        <%= flash[:alert] %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <%= form_tag login_path do %>
      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div class="actions"><%= submit_tag "Log in", class: 'button radius' %></div>
    <% end %>

  </div>
</div>
