<%= form_for(@choice) do |f| %>
  <% if @choice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @choice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :content, class: "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :content %>
      </div>
    </div>


    <%- if @choice.value %>
      <div class="row">
        <div class="small-3 columns">
          <%= f.label :value, class: "right inline" %>
        </div>
        <div class="small-9 columns">
          <%= f.text_field :value %>
        </div>
      </div>
    <%- end %>

    <div class="row">
      <div class="small-9 small-offset-3 columns">
        <%= f.submit class: 'button radius' %>
      </div>
    </div>
  </fieldset>
<% end %>
