<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :username, class: "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :username %>
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns">
        <%= f.label :email, class: "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns">
        <%= f.label :password, class: "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :password %>
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns">
        <%= f.label :healthcare_provider_email, class: "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :healthcare_provider_email %>
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns">
        <%= f.label :phone_number, class: "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :phone_number %>
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns">
        <%= f.label :device_token, class: "right inline" %>
      </div>
      <div class="small-7 columns end">
        <%= f.text_field :device_token %>
      </div>      
    </div>

    <% unless @user.new_record? && (@user.device_token || @user.phone_number) %>
      <div class="row">
        <div class="small-2 small-offset-3 columns end">
          <%= link_to "Test message", [:test_message, @user], class: 'button tiny success', method: "post" %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class='small-3 columns'>
        <%= f.label :force_full_survey, class: "right inline" %>      
      </div>
      <div class='small-7 columns end'>
        <%= f.check_box :force_full_survey  %>
      </div>
    </div>


    <div class="row">
      <div class="small-9 small-offset-3 columns">
        <%= f.submit class: 'button radius' %>
      </div>
    </div>
  </fieldset>
<% end %>
