<p>
<%- if flash[:alert] || flash[:notice] %>
  <div data-alert class="alert-box">
    <%= flash[:alert] if flash[:alert] %>
    <%= flash[:notice] if flash[:notice] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
</p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Healthcare Provider Email</th>
      <th>Phone Number</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @user.id %></td>
      <td><%= @user.username %></td>
      <td><%= @user.email %></td>
      <td><%= @user.healthcare_provider_email %></td>
      <td><%= @user.phone_number %></td>
      <td><%= @user.created_at %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user), class: 'button tiny radius' %>
<%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny radius' %>
<%= link_to 'Back', users_path, class: 'button tiny radius alert' %>

<h2>Latest Activities</h2>

<div id="activities_holder">
  <%= render @activities %>
</div>