<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'PainSquad Admin', :admin %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <%- if current_user %>
      <!-- Left Nev Section -->
      <ul class="left">
        <li><%= link_to 'Users', :users %></li>
        <li><%= link_to 'Questions', :questions %></li>
        <li><%= link_to 'Reports', :reports %></li>
        <li><%= link_to 'API Docs', '/api', target: '_blank' %></li>
      </ul>

      <!-- Right Nav Section -->
      <ul class="right">
        <li><%= link_to 'Launch Client App', '/', target: '_' %></li>
        <%- if current_user %>
          <li><%= link_to 'Logout', :logout, method: :delete %></li>
        <% end %>
      </ul>
    <%- end %>
  </section>
</nav>