<!DOCTYPE html>
<html>
<head>
  <title>PainSquad API</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<hr>
<%= render "home/nav_links" %>
<hr>

<%= yield %>

<hr>
<%= debug params if Rails.env.development? %>
<hr>
<br>
<hr>
<%= debug current_user %>
<hr>

</body>
</html>
